{% load staticfiles %}
<html>
    <head>
        <title>The SegunolaLive</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div class="page-header">
            <h1><a href="/">The SegunolaLive</a></h1>
        </div>

        <div class="menu-wrap">
                <nav class="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <!--<li><a href="all_posts.html">All Posts</a></li>
                        <li><a href="#">About</a>-->
                    </ul>
                </nav>
        </div> 


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

        <footer class="more info">
            <div class="row">
                {% block content2 %}
                {% endblock %}            
            </div>
        </footer>
    </body>
</html>