{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1><hr/>
        <p>{{ post.text|linebreaks }}</p><hr>
        
        <div class="fb-like" data-href="http://segunola.pythonanywhere.com/post/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

        <div class="fb-comments" data-href="http://segunola.pythonanywhere.com/post/" data-numposts="5"></div>
    </div>
{% endblock %}