body {
    padding-left: 0px;
    background-color: rgba(231, 234, 236, 0.53);
    margin: 0;
}

h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

.page-header {
    background-color: #7D7975;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 40px;
    border-bottom: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.menu-wrap {
    margin-top: 0;
    padding: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
 }

.menu ul{
    margin: 0;
}

.menu > ul > li {
    display: inline-block;
    position: relative;
    font-size: 19px;
}

.menu > ul > li > a {
    padding: 15px;
    display: inline-block;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}


.content {
    margin-top: 10px;
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.date {
    float: right;
    color: #828282;
}


.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}


.post {
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 1px black;
}

.post h1 a, .post h1 a:visited {
    color: rgba(0, 0, 0, 0.55);
}

.post p{
    font-size: 20px;
}

.pull-right{
    color: #6BA5D8;
}

.clearfix{
    clear: both;
}